*
{
    margin: 0;
    padding: 0;
}
header
{
    background-image:linear-gradient(rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)) ,url(39624.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.logo img
{
    width: 300px;
    height: auto;
    float: left;
}

body
{
    font-family: monospace;
}

.row
{
    max-width: 1920px;
    margin-right: 20px;
}

.hero
{
    position: absolute;
    width: 1920px;
    margin-left: 0;
    margin-top: 60px;
}

h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    margin-top:300px ;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button
{
    margin-top: 60px;
    text-align: center;

}

.my_form
{
    margin-top: 60px;
    display: inline-block;
}


.btm
{
    border: 1px solid white;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;

}


.btn-sm
{
    color: black;
    font-family: 'Roboto' , 'sans-serif';
}

.btn-sm:hover
{
    background-color: darkorange;
    transition: all 0.5s ease-in ;
}

.my_form
{
    font-size: 20px;
}